
body {
  /*font-family: "Formular";*/
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  overflow: visible !important;
  color: #000;
  font-weight: 400;
}
ul{margin: 0;padding: 0;list-style: none;}
a, button{outline: none;}
h1, h2, h3, p{margin: 0;}

h1, h2{
  background: linear-gradient(180deg, #260705 0%, #D9AA1C 89.58%, #BD4622 100%); , 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  line-height: 1;
  text-transform: uppercase;
  font-weight: 900;
}
h1{
  font-size: 60px;
  margin-bottom: 20px;
}
h2{
  font-size: 40px;
   color: black;
}
input[type='text']{
	width: 100%;
	color: #333;
	height: 55px;
  border: solid 1px #cccccc;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}
button, input[type='submit']{
	border-radius: 34px;
  background: #C90008;
  position: relative;
	padding: 17px 90px 17px 32px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFF9F8;
}
input[type='submit']{
  padding: 17px 32px;
}
button::before{
  background: url('../img/button_arr.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  content: '';
  right: 33px;
  top: 12px;
  width: 32px;
  height: 32px;
}
section{
	padding: 50px 0;
	position: relative;
}
img{
  max-width: 100%;
}

/*boxmodal*/
/*boxmodal*/
.box-modal{font-family: "Formular";position:relative;text-align:center;line-height: 1.3;background: #fff;}.box-modal_close{position:absolute;right:-40px;top:6px;font-size:60px;line-height:15px;color:#fff;cursor:pointer;transform:rotate(45deg);}


.accordion {
  width:40%;
  display: block;
  margin-top: 10px;
 /* margin: 0 auto;*/
}
#acc {

  display: block;
  margin: 0 auto;
    width:50%;
}



.accordion .accordion_item {
  margin-bottom:1px;
  position:relative;
  padding: 0;
}
.accordion .title_block {
  cursor:pointer;
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.02);
  background: #F3F3F3;
  padding:25px 80px 25px 20px;
  -webkit-transition:all .2s linear 0;
  -webkit-transition-delay:.2s 0;
  transition:all .2s linear 0;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 8px;
  position: relative;
}
.accordion .title_block span{
  border-radius: 10px;
  background: #0085FF;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  margin-right: 10px;
  padding: 5px 10px;
}
.accordion .title_block:before {
  content:'';
  height:7px;
  width:7px;
  border-top: solid 2px #000;
  border-right: solid 2px #000;
  transform: rotate(45deg);
  right: 25px;
  top: calc(50% - 3px);
  position: absolute;
}
.accordion .active_block .title_block:before {
  transform: rotate(180deg);
}
.accordion .active_block .title_block{
  border: none;
}
.accordion .info {
  display:none;
  padding:0 40px 25px 40px;
  overflow: hidden;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  font-style: italic;
}
#info {
   font-size: 16px;
   padding:0 ;
}
.accordion .info p{
  font-weight: normal;
  text-align: left;
  line-height: 1.5;
  width: 100%;
  margin: 0;
}

.getting-started{
    display:inline-block;
    margin: 5px 0;
}
.getting-started:after{
    content:"";
    display:block;
    clear:both
}
.getting-started>div{
    float:left;
    text-align:center;
    margin-left:10px;
    line-height: 1;
}
.getting-started>div:first-child{
    margin-left:0
}
.getting-started .dial{
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
    background: #000;
    border-radius: 11px;
    padding: 15px;
}
.getting-started .text-timer{
    font-size:14px;
}

#menu{
  width:100%;
  background: linear-gradient(180deg, #e9b19a 0%, #fbbda3 100%);
  padding:5px 0 15px;
}
#menu.default{
  width:920px;
  display:none;
}
#menu.fixed{
  display:block;
  position:fixed;
  bottom:0;
  left:0;
  z-index:999
}
#menu button{
  display: block;
  margin: 0 auto;

}

.mob{
  display: none !important;
}
.blue{
  color: #0085FF;
}
.bluebg{
  border-radius: 30px;
  border: 1px solid #4AA8FF;
  background: linear-gradient(180deg, #43A1F8 0%, #0085FF 100%);
  backdrop-filter: blur(0.5px);
  color: #fff;
}
.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bonus{
  margin-top: 8px;
  border-radius: 1000px;
  background: #fff;
  align-items: center;
  width: 80%;
}
.bonus img{
  width: 15%;
}
.bonus p{
  width: 90%;
  font-size: 12px;
  color: #000;
  margin-left: -35px;
  font-weight: 300;
}

.s1{
//*	background: linear-gradient(180deg, #FFF 0%, #FFF 22.29%, #FFF 39.07%, #E8F4FF 69.66%, #f8d8c3 100%);*//
     
  padding-top: 0;
}
.s1 .content{
  width: 50%;
}
.s1 .img{
  position: absolute;
  width: 37%;
  top: 115px;
  right: 10%;
}
.s1 .head{
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background: linear-gradient(0deg, #43A1F8 0%, #43A1F8 100%);
  padding: 38px 9px 20px 9px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  width: 80%;
  margin-bottom: 40px;
}
.s1 h1+p{
  font-size: 20px;
  width: 90%;
  margin-bottom: 29px;
}
.s1 ul{
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.70);
  background: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(5px);
  padding: 19px 28px;
  margin-bottom: 33px;
  list-style: disc;
  width: 70%;
  font-size: 15px;
  font-weight: 500;
}
.s1 .price{
  font-size: 20px;
  margin-bottom: 19px;
}
#change{
background-color: red;
}

.s1 .price span{
  background: linear-gradient(180deg, #4AA8FF 0%, #F8D8C3 89.58%, #0085FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 900;
}
.bg{
  background: linear-gradient(180deg, #F3F3F3 73.74%, rgba(241, 241, 241, 0.00) 105.34%);


}
.s2 .bluebg{
  padding: 29px 25px;

}
.s2{
background-color: white;
}
.s3{
  padding-bottom: 100px;
}
.s3 h2{
  margin-bottom: 32px;
}
.s3 .item{
  width: 48%;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(0.5px);
  padding: 20px 20px 20px 59px;
  margin-bottom: 21px;
  display: flex;
  align-items: center;
}
.s3 .item strong{
  font-size: 17px;
}
.s3 .bluebg{
  margin-top: 21px;
  display: block;
  margin: 0 auto;
  width: 60%;
  padding: 18px 92px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900;
}
.s4{
 //*background: url('../img/s4_bg.png') no-repeat;*//
  
  background-size: 100% 100%;
 //* margin-top: -80px;*//
  padding-top: 65px;

  background: linear-gradient(#FFFCBB,#FFDFDC); 
  

}
.s4 h2{
  margin-bottom: 47px;
  text-align: center;
  //*webkit-text-fill-color: #fff;*//
  
}
#myh2{
color:black;
}
.s4 .item{
  width: 33%;
  border-radius: 20px;
  //*border: 1px solid #FFF;
  background: rgba(238, 238, 238, 0.30);*//
  backdrop-filter: blur(10px);
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  //*color: #fff;*//
  padding: 10px;
}
.s4 .item img{
  width: 15%;
}
.s4 .item p{
  width: 80%;
}
.s5{
  background: linear-gradient(#FFFCBB, #FFDFDC);  //*(180deg, #FFF 0%, #DEEFFF 60.05%, #ECC320 93.74%);*//
  font-size: 15px;
  padding: 100px 0;
}
.s5 h2{
  margin-bottom: 22px;
}
.s5 ul{
  list-style: disc;
  margin-top: 20px;
  padding-left: 15px;
}
.s5 img{
  position: absolute;
  width: 30%;
  /*top: -11%;*/
  right: 15%;
}
.s5 .descr{
  position: absolute;
  bottom: 10%;
  right: 20%;
  padding: 14px 19px 14px 47px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.70);
  background: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(5px);
}
.s5 .descr p{
  position: relative;
  font-weight: 500;
}
.s5 .descr p::before{
  position: absolute;
  content: '';
  background: #fff;
  width: 8px;
  height: 8px;
  left: -35px;
  top: calc(50% - 4px);
  border-radius: 50%;
}
.s6{
  font-size: 15px;
}
.s6 p:not(.items p){
  font-weight: 700;
  text-align: center;
}
.s6 h2{
  margin-top: 45px;
  margin-bottom: 37px;
  text-align: center;
}
.s6 .item{
  width: 32%;
  padding: 35px 30px 35px 45px;
  position: relative;
  margin-bottom: 33px;
}
.s6 .item .num{
  color: rgba(17, 110, 196, 0.40);
  font-size: 80px;
  font-weight: 900;
  position: absolute;
  top: -20px;
  left: 15px;
  z-index: -1;
}
.s7{
  background: linear-gradient(0deg, #F3F3F3 0%, #F3F3F3 100%);
}
.s7 h2{
  margin-bottom: 29px;
  text-align: center;
}
.s7 .it{
  width: 48%;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(0.5px);
  margin-bottom: 20px;
  padding: 29px 20px;
}
.s7 .it .item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}
.s7 .it .item img{
  width: 6%;
}
.s7 .it .item p{
  width: 90%;
  font-size: 15px;
}
.s8 h2{
  text-align: center;
  margin-bottom: 15px;
}
.s8 .items{
  margin: 0 auto;
  width: 60%;
  border-radius: 20px;
  background: #F9F9F9;
  margin-bottom: 8px;
  padding: 30px;
}
.s8 .items div{
  width: 30%;
}
.s8 .items ul{
  width: 65%;
  list-style: disc;
  padding-left: 15px;
  font-size: 15px;
  font-weight: 300;
}
.s8 .items div img{
  border-radius: 20px;
  margin-bottom: 7px;
}
.s8 .lesson{
  border-radius: 10px;
  background: #0085FF;
  padding: 5px 20px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  width: 100% !important;
}
.s8 .showmore{
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}
.s8 .hidd{
  display: none;
}
.s9{
  /*background: linear-gradient(180deg, #E67E22 0%, #AE9159 100%);*/
  background: linear-gradient(#FFFCBB, #FFDFDC); 
}
.s9 h2{
  text-align: center;
  margin-bottom: 39px;
  /*-webkit-text-fill-color: #fff;*/
}
.s9 .item{
  border-radius: 40px;
  background: #FFF;
  padding: 33px 24px 33px 42px;
  font-size: 15px;
  width: 48%;
  margin-bottom: 11px;
  position: relative;
}
.s9 .item::before{
  position: absolute;
  content: '';
  background: url('../img/check.png') no-repeat;
  background-size: 100% 100%;
  width: 54px;
  height: 59px;
  top: -19px;
  left: -8px;
}
.s10{
  background: #F7F7F7;
  backdrop-filter: blur(5px);
  text-align: center;
}
.s10 p{
  font-size: 12px;
  font-weight: 300;
}
.s10 .title p{
  font-weight: 500;
  font-size: 15px;
}
.s10 .price, .box-modal .price{
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.s10 .price span, .box-modal .price span{
  background: linear-gradient(180deg, #4AA8FF 0%, #116EC4 89.58%, #0085FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}
.s10 .bonus{
  border-radius: 1000px;
  border: 0.3px solid #3AA1FF;
  background: rgba(67, 161, 248, 0.15);
  backdrop-filter: blur(10px);
  margin: 0 auto;
  width: 40%;
  margin-top: 18px;
  margin-bottom: 13px;
}
.s10 .bonus p{
  color: #000;
  text-align: left;
  font-weight: 400;
}
.s11{
  /*background: linear-gradient(180deg, #ffcccc 0%, #e35118 100%);*/
  background: linear-gradient(#FFFCBB, #FFDFDC); 
  text-align: center;
  /*color: #fff;*/
  font-size: 15px;
}
.s11 img{
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 13%;
  top: 0;
}
.s11 p{
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-top: 12px;
  font-weight: 400;
}
.s11 h2{
  /*-webkit-text-fill-color: #fff;*/
}
.s12 h2{
  margin-bottom: 41px;
  text-align: center;

}
.s12{
  background: linear-gradient(#FFDFDC,#FBE7B5); 
}

footer{
  background: #000;
  padding: 15px 0 75px;
  color: #fff;
  font-size: 14px;
}
footer a{
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
  display: block;
}
footer p{
  margin-bottom: 10px;
}

.box-modal iframe{
  width: 100%;
}

  .mydiv {
     margin-top: 20px;
  }
  .grid-item {
    
    background-color: #fff;
   padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 231px;
}
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}
.divicon {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;     
    //*border-radius: 50%; *//
  }
  .my_list{

    margin : 0 auto;
  }
  .myul{
   display: flex;
  flex-direction: row;

  }

  .my_row{
  
    text-align: center;
  font-weight: lighter;
  font-size: 24px;
  padding: 100px;

  }
 .row2{
 font-size: 28px;
  text-align: center;
  font-weight: lighter;
  }
